@media all {
    .page-break {
      display: none;
    }
  }
  
  @media print {
    html, body {
      height: initial !important;
      overflow: initial !important;
      -webkit-print-color-adjust: exact;
    }
  }
  
  @media print {
    .page-break {
      margin-top: 1.2rem;
      display: block;
      page-break-before: auto;
    }
    .cards{
        width: 32.5% !important;
    }
    .cardsGit{
        width: 31.5% !important;
    }
  }
  
  @page {
    size: auto;
    margin: 5mm;
  }